<ion-header>

</ion-header>

<ion-content class="ion-paddign ion-text-center" color="primary">
  <br>
  <br>
  <img src="../../../assets/icon/logo personal estilo moderno minimalista colores blanco y azul.png" class="logo"/>

  <div class="title"><br>
    <br>
    <h2>¡Bienvenido!</h2>   
    <br>
    <sub>Descubre lo que tenemos para ti en RegistrApp.</sub>
    
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block" class="ion-margin-top" (click)="login()" color="white">Entrar</ion-button>
  </div>
</ion-content>
