<ion-header>
  <ion-toolbar>
    <ion-title>Nosotros</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div id="container">
    
    <ion-card mode="ios" color="primary">
      <ion-card-header> 
        <ion-card-subtitle>Equipo</ion-card-subtitle>
        <img src="../../../assets/icon/pjcnarvaez.jpeg" style="width: 95px;" id="img-dev">
        <ion-card-title>Paula Cortés</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Estudiante de Ingeneria en Informatica de la sede de San Joaquin de 4 semestre
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" color="primary">
      <ion-card-header>
        <ion-card-subtitle>Equipo</ion-card-subtitle>
        <img src="../../../assets/icon/ricardo.jpeg" style="width: 95px;" id="img-dev">
        <ion-card-title>Ricardo Miranda</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        Estudiante de Ingeneria en Informatica de la sede de San Joaquin de 4 semestre
      </ion-card-content>
  
    </ion-card>
  </div>


</ion-header>
<ion-content>
</ion-content>
