<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card  mode="ios" color="primary">
    <ion-item>
      <ion-icon :icon="body-outline" slot="start"></ion-icon>
      <ion-label>¡Hola! </ion-label>
      <ion-button fill="outline" slot="end">Escanear código</ion-button>
    </ion-item>
    <ion-card-content>
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
     Animi velit exercitationem libero sunt quos autem aliquam
     voluptas eaque? Quam dolore fuga nihil eos quis iure nisi 
     corporis quae qui optio!

     Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
     Animi velit exercitationem libero sunt quos autem aliquam
     voluptas eaque? Quam dolore fuga nihil eos quis iure nisi 
     corporis quae qui optio!
    </ion-card-content>
  </ion-card>


</ion-header>

<ion-content>

</ion-content>
