<ion-header>


</ion-header>

<ion-content id="pantalla" class="ion-padding">
  <div class="title">
  <h4>Login</h4>
    <p>Ingresa tu correo y contraseña</p>
  </div>
  
<ion-input placeholder="correo@correo.com" class="primary-input" 
[(ngModel)]="user.email" 
pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"required></ion-input>

<ion-input placeholder="contraseña" type="password" class="primary-input" type="password"
[(ngModel)]="user.password"
pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{4,8}$"
required></ion-input>

<div class="ion-margin-top">
  <ion-button shape="block" (click)="login()">Ingresar a mi cuenta</ion-button>
</div>

<div class="ion-margin-top ion-text-center">
  <a (click)="dismiss()">Cerrar</a>

</div>
</ion-content>


